.containerFooter {
    width: 98%;
    display: flex;
    padding: 10px 0;
    margin-bottom: 10px;
    border-radius: 65px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background: #8080801a;
    box-shadow: #9999991a 0px 4px 10px;
}

.containerFooter h2 {
    color: #606060;
    font-weight: 400;
    font-size: 1.5rem;
    letter-spacing: 1.5px;
}

.containerFooter ul {
    display: flex;
    list-style: none;
}

.containerFooter li {
    padding: 15px 5px;
}

.containerFooter h3 {
    font-size: 1rem;
    color: #606060;
    font-weight: 200;
    letter-spacing: 1.5px;
}

@media screen and (min-width: 769px) and (max-width: 1279px) {
    .containerFooter h2 {
        font-size: 1.2rem;
    }

}

@media screen and (max-width: 768px) {
    .containerFooter h2 {
        font-size: 1rem;
    }

    .containerFooter li {
        padding: 15px 20px;
    }

    .containerFooter h3 {
        font-weight: 700;
        font-size: 0.6rem;
        letter-spacing: 0;
        text-align: center;
    }
}